Repository credfeto/credfeto-notification-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Database":
 - any: [ 'src/Credfeto.Notification.Bot.Database/**/*' ]
"Database.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests/**/*' ]
"Database.Tests.Integration":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests.Integration/**/*' ]
"Discord":
 - any: [ 'src/Credfeto.Notification.Bot.Discord/**/*' ]
"Discord.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Discord.Models/**/*' ]
"Mocks":
 - any: [ 'src/Credfeto.Notification.Bot.Mocks/**/*' ]
"Server":
 - any: [ 'src/Credfeto.Notification.Bot.Server/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Shared/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Tests/**/*' ]
"Twitch":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch/**/*' ]
"Twitch.Data.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/**/*' ]
"Twitch.DataTypes":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.DataTypes/**/*' ]
"Twitch.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Interfaces/**/*' ]
"Twitch.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Models/**/*' ]
"Twitch.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Tests/**/*' ]

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/sbom/action.yml
  .github/actions/sbom/action.yml
Labels: none

[Linters] Updated .github/linters/syft.yml
  .github/linters/syft.yml
Labels: none

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.42.380
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Mocks, Shared.Tests, Twitch.Tests

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.9.296
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Actions] Updated .github/workflows/on-pr-closed.yml
  .github/workflows/on-pr-closed.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.21.0.86780
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Extensions.Configuration.Typed.Json (Strongly typed and verified configuration) to 1.0.30.264
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.44.386
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Services.Startup (Run on startup services) to 1.1.16.186
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Dependencies] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.1.3.296
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.14.275
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.10.303
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Extensions.Configuration.Typed.Json (Strongly typed and verified configuration) to 1.0.31.268
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.45.389
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.15.277
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.1.4.303
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Actions] Updated .github/workflows/on-pr-closed.yml
  .github/workflows/on-pr-closed.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Database (Database support) to 1.2.4.272
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 8.0.1
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 8.0.3
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependencies] Updating Credfeto.Extensions.Configuration.Typed.Json (Strongly typed and verified configuration) to 1.0.32.272
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Random (Random data support) to 1.0.18.264
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/actions/build-version/action.yml
  .github/actions/build-version/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

SDK - Updated DotNet SDK to 8.0.202
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating coverlet (Code Coverage) to 6.0.2
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Database (Database support) to 1.2.5.299
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions
