Repository credfeto/credfeto-notification-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating TeamCity.VSTest.TestAdapter (Test Infrastructure) to 1.0.39
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Shared.Tests, Twitch.Tests

[Dependencies] Updating xunit (Test Infrastructure) to 2.6.4
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Shared.Tests, Twitch.Tests

[Dependencies] - Update .github/actions/sarif/action.yml to match the template repo
  .github/actions/sarif/action.yml
Labels: none

[Dependencies] Updating xunit.runner.visualstudio (Test Infrastructure) to 2.5.6
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Shared.Tests, Twitch.Tests

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

Changelog for 0.0.10
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.25.293
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Mocks, Shared.Tests, Twitch.Tests

[Cleanup] - Code cleanup on Credfeto.Notification.Bot.sln
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/RaidWelcomeTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/ShoutoutJoinerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchIncomingMessageNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOnlineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchChannelManagerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchCustomMessageHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch/Services/ChannelFollowCount.cs
Labels: Twitch, Twitch.Tests

[Dependencies] Updating Nullable.Extended.Analyzer (Code analysis) to 1.15.6169
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.27.296
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Mocks, Shared.Tests, Twitch.Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.128
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.132
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Dependencies] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

[Dependencies] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/merge-dependabot.yml to match the template repo
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[SDK] - Updated DotNet SDK to 8.0.101
  src/global.json
Labels: .NET update

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/merge-dependabot.yml to match the template repo
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

Fixed code analysis issues
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchInputMessageMatch.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchOutputMessageMatch.cs
Labels: Twitch.Models

[SDK] - Updated DotNet SDK to 8.0.101
  src/global.json
Labels: .NET update

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.6.239
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.136
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.9.0
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.10.0
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Shared.Tests, Twitch.Tests

[Dependencies] Updating xunit (Test Infrastructure) to 2.6.6
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Shared.Tests, Twitch.Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.39.333
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Mocks, Shared.Tests, Twitch.Tests

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 8.0.1
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Twitch

[Cleanup] - Code cleanup on Credfeto.Notification.Bot.sln
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchInputMessageMatch.cs
Labels: Twitch.Models

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Database":
 - any: [ 'src/Credfeto.Notification.Bot.Database/**/*' ]
"Database.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests/**/*' ]
"Database.Tests.Integration":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests.Integration/**/*' ]
"Discord":
 - any: [ 'src/Credfeto.Notification.Bot.Discord/**/*' ]
"Discord.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Discord.Models/**/*' ]
"Mocks":
 - any: [ 'src/Credfeto.Notification.Bot.Mocks/**/*' ]
"Server":
 - any: [ 'src/Credfeto.Notification.Bot.Server/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Shared/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Tests/**/*' ]
"Twitch":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch/**/*' ]
"Twitch.Data.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/**/*' ]
"Twitch.DataTypes":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.DataTypes/**/*' ]
"Twitch.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Interfaces/**/*' ]
"Twitch.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Models/**/*' ]
"Twitch.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Tests/**/*' ]
