Repository credfeto/credfeto-notification-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Database, Database.Dapper, Database.Interfaces, Database.Pgsql, Database.Shared, Database.Tests, Database.Tests.Integration, Server, Shared, Shared.Extensions, Twitch, Twitch.Data.Interfaces, Twitch.Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Database":
 - any: [ 'src/Credfeto.Notification.Bot.Database/**/*' ]
"Database.Dapper":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Dapper/**/*' ]
"Database.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Interfaces/**/*' ]
"Database.Pgsql":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Pgsql/**/*' ]
"Database.Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Shared/**/*' ]
"Database.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests/**/*' ]
"Database.Tests.Integration":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests.Integration/**/*' ]
"Server":
 - any: [ 'src/Credfeto.Notification.Bot.Server/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Shared/**/*' ]
"Shared.Extensions":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Extensions/**/*' ]
"Twitch":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch/**/*' ]
"Twitch.Data.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/**/*' ]
"Twitch.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Tests/**/*' ]

[FF-3881] - Updated DotNet SDK to 6.0.201
  src/global.json
Labels: .NET update

[FF-1429] - Update .gitignore to match the template repo
  .gitignore
Labels: none

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

Renamed file
  src/Credfeto.Notification.Bot.Twitch.Tests/SubGifterTests.cs
Labels: Twitch.Tests

Generating gifters with Guid to start so don't ignore the 1st gift
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/ContributionThanks.cs
Labels: Twitch

More logging
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/ShoutoutJoiner.cs
Labels: Twitch

Rolled back to 103
  src/global.json
Labels: .NET update

[FF-3881] - Updated DotNet SDK to 6.0.201
  src/global.json
Labels: .NET update

Reduced time to 5 secs
  src/Credfeto.Notification.Bot.Twitch.Tests/SubGifterTests.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/SubGifter.cs
Labels: Twitch, Twitch.Tests

Added freeze file
  src/global.json
  src/global.json.freeze
Labels: .NET update

Renamed
  db/twitch/stream_chatter_is_regular.sql
Labels: SQL

[FF-1429] - Update .gitignore to match the template repo
  .gitignore
Labels: none

Changed heist detection
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChat.cs
Labels: Twitch

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

Logging of saying Hi to regulars
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChat.cs
Labels: Twitch

Added sery_bot as a user to ignore
  src/Credfeto.Notification.Bot.Server/appsettings.json
Labels: Config Change, Server

Corrected
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
Labels: Database

Passed in isRegular to ShoutoutJoiner so it doesn't have to do the db call too
  src/Credfeto.Notification.Bot.Twitch/Actions/IShoutoutJoiner.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/ShoutoutJoiner.cs
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
Labels: Twitch

Logging of if regular
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
Labels: Twitch

All aboard the welcome waggon
  src/Credfeto.Notification.Bot.Twitch/Actions/IWelcomeWaggon.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/WelcomeWaggon.cs
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/TwitchSetup.cs
Labels: Twitch

Don't do anything with messages from streamer
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
Labels: Twitch

Added welcome waggon
  src/Credfeto.Notification.Bot.Twitch/Actions/IWelcomeWaggon.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/WelcomeWaggon.cs
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChannelManager.cs
Labels: Twitch

Simplified stack traces
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Server/ServiceStartup/Logging.cs
Labels: C# Project, Server

Changed logging
  src/Credfeto.Notification.Bot.Server/ServiceStartup/Logging.cs
Labels: Server

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 5.9.4.1729
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Twitch.Tests

Added Mediatr
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
Labels: C# Project, Shared

Added mediatr
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Server/ServiceStartup/Services.cs
Labels: C# Project, Server

Switched online state to use mediatr
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchStreamOffline.cs
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchStreamOnline.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamOnlineNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchStreamStatus.cs
Labels: Twitch

Stream Offline event handler
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamOfflineNotificationHandler.cs
Labels: Twitch

Added new follower notification via mediatr
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchChannelNewFollower.cs
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchChannelNewFollowerNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChannelManager.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChat.cs
Labels: Twitch

Reduced parameters now moved to the notification
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChannelManager.cs
Labels: Twitch

Partially moved raiders to use Mediatr
  src/Credfeto.Notification.Bot.Twitch/Models/ActiveStream.cs
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchStreamRaided.cs
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChat.cs
Labels: Twitch

Moved raid welcoming to MediatR
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamRaidedNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChannelManager.cs
Labels: Twitch
