Repository credfeto/credfeto-notification-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.15.0.81779
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Database (Database support) to 1.2.3.195
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
Labels: C# Project, Change Log, Markdown, Database, Server, Twitch.DataTypes

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update src/Credfeto.Notification.Bot.sln.DotSettings to match the template repo
  src/Credfeto.Notification.Bot.sln.DotSettings
Labels: none

[Dependencies] Updating Nullable.Extended.Analyzer (Code analysis) to 1.14.6129
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

Fixed code analysis issues
  src/Credfeto.Notification.Bot.Discord/BackgroundServices/DiscordTestServices.cs
  src/Credfeto.Notification.Bot.Server/ServiceStartup/Logging.cs
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
  src/Credfeto.Notification.Bot.Twitch/Services/ChannelFollowCount.cs
Labels: C# Project, Discord, Server, Twitch

Removed unnecessary verbatim strings
  src/Credfeto.Notification.Bot.Discord/Services/DiscordConnectionService.cs
  src/Credfeto.Notification.Bot.Server/Helpers/ApplicationConfig.cs
  src/Credfeto.Notification.Bot.Server/ServiceStartup/Logging.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/RaidWelcomeTests.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/RaidWelcome.cs
  src/Credfeto.Notification.Bot.Twitch/Services/ChannelFollowCount.cs
Labels: Discord, Server, Twitch, Twitch.Tests

Moved method
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChat.cs
  src/Credfeto.Notification.Bot.sln.DotSettings
Labels: Twitch

Suppressed messages
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamObjectMapper.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamerObjectMapper.cs
Labels: Database

[Dependencies] - Update src/Credfeto.Notification.Bot.sln.DotSettings to match the template repo
  src/Credfeto.Notification.Bot.sln.DotSettings
Labels: none

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.120
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.7.0
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Shared.Tests, Twitch.Tests

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update src/Credfeto.Notification.Bot.sln.DotSettings to match the template repo
  src/Credfeto.Notification.Bot.sln.DotSettings
Labels: none

[Dependencies] Updating xunit.runner.visualstudio (Test Infrastructure) to 2.5.5
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Shared.Tests, Twitch.Tests

[Dependencies] - Update src/Credfeto.Notification.Bot.sln.DotSettings to match the template repo
  src/Credfeto.Notification.Bot.sln.DotSettings
Labels: none

[Dependencies] Updating xunit (Test Infrastructure) to 2.6.3
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Shared.Tests, Twitch.Tests

[Cleanup] - Code cleanup on Credfeto.Notification.Bot.sln
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Models/TwitchChatter.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Models/TwitchFollower.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Models/TwitchFollowerMilestone.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamObjectMapper.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamerObjectMapper.cs
  src/Credfeto.Notification.Bot.Twitch.DataTypes/TwitchUser.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchChannelNewFollower.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/RaidWelcomeTests.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/RaidWelcome.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChat.cs
  src/Credfeto.Notification.Bot.Twitch/Startup/TwitchChannelStartup.cs
Labels: Database, Twitch, Twitch.DataTypes, Twitch.Models, Twitch.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.22.273
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Mocks, Shared.Tests, Twitch.Tests

[Dependencies] - Update .github/workflows/codeql-analysis-csharp.yml to match the template repo
  .github/workflows/codeql-analysis-csharp.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/codeql-analysis-javascript.yml to match the template repo
  .github/workflows/codeql-analysis-javascript.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/codeql-analysis-python.yml to match the template repo
  .github/workflows/codeql-analysis-python.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

Removed old workflows
  .github/workflows/codeql-analysis-csharp.yml
  .github/workflows/codeql-analysis-javascript.yml
  .github/workflows/codeql-analysis-python.yml
Labels: github-actions

[Dependencies] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

[Dependencies] - Update .editorconfig to match the template repo
  .editorconfig
Labels: none

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

Fixed code analysis issues
  src/Credfeto.Notification.Bot.Mocks/MockReferenceData.cs
  src/Credfeto.Notification.Bot.Mocks/Objects/MockTwitchChannelRaids.cs
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Streamer.cs
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Viewer.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/RaidWelcomeTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/ShoutoutJoinerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchIncomingMessageNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOfflineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOnlineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchWatchChannelFollowerNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchChannelManagerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchCustomMessageHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch/Services/ChannelFollowCount.cs
Labels: Mocks, Twitch, Twitch.DataTypes, Twitch.Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.127
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.5.0
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating SmartAnalyzers.CSharpExtensions.Annotations (Code analysis) to 4.2.9
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.16.0.82469
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.8.0
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Shared.Tests, Twitch.Tests

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.9.181
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests.Integration, Server, Twitch

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.23.276
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Mocks, Shared.Tests, Twitch.Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Database":
 - any: [ 'src/Credfeto.Notification.Bot.Database/**/*' ]
"Database.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests/**/*' ]
"Database.Tests.Integration":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests.Integration/**/*' ]
"Discord":
 - any: [ 'src/Credfeto.Notification.Bot.Discord/**/*' ]
"Discord.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Discord.Models/**/*' ]
"Mocks":
 - any: [ 'src/Credfeto.Notification.Bot.Mocks/**/*' ]
"Server":
 - any: [ 'src/Credfeto.Notification.Bot.Server/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Shared/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Tests/**/*' ]
"Twitch":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch/**/*' ]
"Twitch.Data.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/**/*' ]
"Twitch.DataTypes":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.DataTypes/**/*' ]
"Twitch.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Interfaces/**/*' ]
"Twitch.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Models/**/*' ]
"Twitch.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Tests/**/*' ]
