Repository credfeto/credfeto-notification-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.9.0
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Shared.Tests, Twitch.Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.140
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.7.269
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.40.352
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Mocks, Shared.Tests, Twitch.Tests

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.9.28
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.10.240
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests.Integration, Server, Twitch

[Dependencies] Updating Credfeto.Extensions.Configuration.Typed.Json (Strongly typed and verified configuration) to 1.0.29.233
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests.Integration, Server

[Dependencies] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.1.2.260
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.11.243
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests.Integration, Server, Twitch

[Dependencies] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.1.2.267
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Random (Random data support) to 1.0.16.230
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
Labels: C# Project, Change Log, Markdown, Server

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.8.274
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.41.357
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.8.274
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.41.357
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Mocks, Shared.Tests, Twitch.Tests

[Dependencies] Updating Credfeto.Random (Random data support) to 1.0.17.233
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
Labels: C# Project, Change Log, Markdown, Server

[Dependencies] Updating Credfeto.Services.Startup (Run on startup services) to 1.1.15.161
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Discord, Server, Twitch

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.141
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.12.249
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests.Integration, Server, Twitch

[Dependencies] Updating NSubstitute.Analyzers.CSharp (Code analysis) to 1.0.17
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Server, Shared.Tests, Twitch.Tests

[Dependencies] Updating Discord.Net (Discord) to 3.13.1
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
Labels: C# Project, Change Log, Markdown, Discord

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.13.250
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests.Integration, Server, Twitch

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Database":
 - any: [ 'src/Credfeto.Notification.Bot.Database/**/*' ]
"Database.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests/**/*' ]
"Database.Tests.Integration":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests.Integration/**/*' ]
"Discord":
 - any: [ 'src/Credfeto.Notification.Bot.Discord/**/*' ]
"Discord.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Discord.Models/**/*' ]
"Mocks":
 - any: [ 'src/Credfeto.Notification.Bot.Mocks/**/*' ]
"Server":
 - any: [ 'src/Credfeto.Notification.Bot.Server/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Shared/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Tests/**/*' ]
"Twitch":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch/**/*' ]
"Twitch.Data.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/**/*' ]
"Twitch.DataTypes":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.DataTypes/**/*' ]
"Twitch.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Interfaces/**/*' ]
"Twitch.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Models/**/*' ]
"Twitch.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Tests/**/*' ]
