Repository credfeto/credfeto-notification-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Database, Database.Dapper, Database.Interfaces, Database.Pgsql, Database.Shared, Database.Tests, Database.Tests.Integration, Server, Shared, Shared.Extensions, Twitch, Twitch.Data.Interfaces, Twitch.Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Database":
 - any: [ 'src/Credfeto.Notification.Bot.Database/**/*' ]
"Database.Dapper":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Dapper/**/*' ]
"Database.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Interfaces/**/*' ]
"Database.Pgsql":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Pgsql/**/*' ]
"Database.Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Shared/**/*' ]
"Database.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests/**/*' ]
"Database.Tests.Integration":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests.Integration/**/*' ]
"Server":
 - any: [ 'src/Credfeto.Notification.Bot.Server/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Shared/**/*' ]
"Shared.Extensions":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Extensions/**/*' ]
"Twitch":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch/**/*' ]
"Twitch.Data.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/**/*' ]
"Twitch.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Tests/**/*' ]

Moving chat notifications into mediator
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchBitsGift.cs
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchStreamNewChatter.cs
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
Labels: Twitch

Moved notifications into the MediatR notification handlers
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchStreamNewChatter.cs
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchBitsGiftNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamNewChatterNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChannelManager.cs
Labels: Twitch

Moved gift subs to Notifications
  src/Credfeto.Notification.Bot.Twitch/Actions/IContributionThanks.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/ContributionThanks.cs
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchGiftSubMultiple.cs
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchGiftSubSingle.cs
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchNewPaidSub.cs
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchNewPrimeSub.cs
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchPaidReSub.cs
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchPrimeReSub.cs
  src/Credfeto.Notification.Bot.Twitch/Models/TwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchGiftSubMultipleNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchGiftSubSingleNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchNewPaidSubNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchNewPrimeSubNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchPaidReSubNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchPrimeReSubNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChannelManager.cs
Labels: Twitch

Moved channel joining to a separate handler
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchChannelChatConnected.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchChannelChatConnectedNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChat.cs
Labels: Twitch

Corrected
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/TwitchChannelChatConnected.cs
Labels: Twitch

Added twitch to mediatr init types
  src/Credfeto.Notification.Bot.Server/ServiceStartup/Services.cs
Labels: Server

Moved Heist starting to own handler
  src/Credfeto.Notification.Bot.Twitch/Models/MediatorModels/StreamLabsHeistStarting.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/StreamLabsHeistStartingNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChat.cs
Labels: Twitch

Added Solution folder for Discord... Projects to come
  src/Credfeto.Notification.Bot.sln
Labels: C# Solution

moved class
  src/Credfeto.Notification.Bot.Twitch.Tests/SubGifterTests.cs
  src/Credfeto.Notification.Bot.Twitch/Models/SubGifter.cs
Labels: Twitch, Twitch.Tests

reorganised
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/StreamLabsHeistStarting.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchBitsGift.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchChannelChatConnected.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchChannelNewFollower.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchGiftSubMultiple.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchGiftSubSingle.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchNewPaidSub.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchNewPrimeSub.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchPaidReSub.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchPrimeReSub.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchStreamNewChatter.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchStreamOffline.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchStreamOnline.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchStreamRaided.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/SubGifterTests.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/ContributionThanks.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/FollowerMilestone.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/HeistJoiner.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/MessageSenderBase.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/RaidWelcome.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/ShoutoutJoiner.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/WelcomeWaggon.cs
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
  src/Credfeto.Notification.Bot.Twitch/ITwitchChannelManager.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamOfflineNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamOnlineNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChannelManager.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChat.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/ActiveStream.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/SubGifter.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/TwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/TwitchChatMessage.cs
  src/Credfeto.Notification.Bot.sln
Labels: C# Project, C# Solution, Twitch, Twitch.Tests

Moved to a new assembly
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/StreamLabsHeistStarting.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchBitsGift.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchChannelChatConnected.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchChannelNewFollower.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchGiftSubMultiple.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchGiftSubSingle.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchNewPaidSub.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchNewPrimeSub.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchPaidReSub.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchPrimeReSub.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchStreamNewChatter.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchStreamOffline.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchStreamOnline.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchStreamRaided.cs
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
  src/Credfeto.Notification.Bot.Twitch/Publishers/StreamLabsHeistStartingNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchBitsGiftNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchChannelChatConnectedNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchChannelNewFollowerNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchGiftSubMultipleNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchGiftSubSingleNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchNewPaidSubNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchNewPrimeSubNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchPaidReSubNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchPrimeReSubNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamNewChatterNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamOfflineNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamOnlineNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamRaidedNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChat.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchStreamStatus.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/TwitchChannelState.cs
Labels: C# Project, Twitch

Renaming and adding tests on ContributionThanks
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/ContributionThanksTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/StreamState/SubDonorTrackerTests.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/IContributionThanks.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/ContributionThanks.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchGiftSubMultipleNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchGiftSubSingleNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/SubDonorTracker.cs
Labels: Twitch, Twitch.Tests

Added tests on ContributionThanks
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/ContributionThanksTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/StreamState/SubDonorTrackerTests.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/ContributionThanks.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/SubDonorTracker.cs
Labels: Twitch, Twitch.Tests
