Repository credfeto/credfeto-notification-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Database":
 - any: [ 'src/Credfeto.Notification.Bot.Database/**/*' ]
"Database.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests/**/*' ]
"Database.Tests.Integration":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests.Integration/**/*' ]
"Discord":
 - any: [ 'src/Credfeto.Notification.Bot.Discord/**/*' ]
"Discord.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Discord.Models/**/*' ]
"Mocks":
 - any: [ 'src/Credfeto.Notification.Bot.Mocks/**/*' ]
"Server":
 - any: [ 'src/Credfeto.Notification.Bot.Server/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Shared/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Tests/**/*' ]
"Twitch":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch/**/*' ]
"Twitch.Data.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/**/*' ]
"Twitch.DataTypes":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.DataTypes/**/*' ]
"Twitch.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Interfaces/**/*' ]
"Twitch.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Models/**/*' ]
"Twitch.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Tests/**/*' ]

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.17.0.82934
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.138
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] - Update .github/workflows/approve-dependabot.yml to match the template repo
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/merge-dependabot.yml to match the template repo
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/approve-dependabot.yml to match the template repo
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/merge-dependabot.yml to match the template repo
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/merge-dependabot.yml to match the template repo
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/merge-dependabot.yml to match the template repo
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/actions/npm/action.yml to match the template repo
  .github/actions/npm/action.yml
Labels: none

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.10.0
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.18.0.83559
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.139
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/sarif/action.yml
  .github/actions/sarif/action.yml
Labels: none

[Actions] Updated .github/actions/sbom/action.yml
  .github/actions/sbom/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.19.0.84025
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/on_new_pr.yml
  .github/workflows/on_new_pr.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none
