Repository credfeto/credfeto-notification-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[Dependencies] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/update-labels.yml to match the template repo
  .github/workflows/update-labels.yml
Labels: github-actions

Removed old workflows
  .github/workflows/dependabot-rebase.yml
  .github/workflows/stale.yml
Labels: github-actions

[Dependencies] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

[SDK] - Updated DotNet SDK to 8.0.100-preview.7.23376.3
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

.net 8
  .run/console.sql.run.xml
  .run/generate-watched-accounts.sql.run.xml
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

Fixed compile errors
  src/Credfeto.Notification.Bot.Discord.Models/DiscordMessage.cs
  src/Credfeto.Notification.Bot.Mocks/Objects/MockTwitchChannelRaids.cs
  src/Credfeto.Notification.Bot.Server/Program.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchWatchChannelFollowerNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchChannelManagerTests.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/ContributionThanks.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/ShoutoutJoiner.cs
  src/Credfeto.Notification.Bot.Twitch/BackgroundServices/FollowersWorker.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/TwitchBotOptions.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/TwitchChannelRaids.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/TwitchMilestones.cs
  src/Credfeto.Notification.Bot.Twitch/ITwitchFollowerDetector.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchWatchChannelFollowerNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Resources/HttpClientBuilderExtensions.cs
  src/Credfeto.Notification.Bot.Twitch/Resources/HttpPolicyExtensions.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchChat.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchFollowerDetector.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchStreamStatus.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchStreamStatusRegex.cs
Labels: Discord.Models, Mocks, Server, Twitch, Twitch.Tests

renamed db folder
  postgres-db/twitch/stream.sql
  postgres-db/twitch/stream_chatter.sql
  postgres-db/twitch/stream_chatter_get.sql
  postgres-db/twitch/stream_chatter_insert.sql
  postgres-db/twitch/stream_chatter_is_regular.sql
  postgres-db/twitch/stream_follower.sql
  postgres-db/twitch/stream_follower_insert.sql
  postgres-db/twitch/stream_insert.sql
  postgres-db/twitch/stream_milestone_insert.sql
  postgres-db/twitch/stream_settings.sql
  postgres-db/twitch/stream_settings_get.sql
  postgres-db/twitch/stream_settings_set.sql
  postgres-db/twitch/streamer.sql
  postgres-db/twitch/streamer_follower_milestone.sql
  postgres-db/twitch/streamer_get.sql
  postgres-db/twitch/streamer_insert.sql
  postgres-db/twitch/streamer_milestone.sql
  postgres-db/twitch/viewer.sql
  postgres-db/twitch/viewer_get.sql
  postgres-db/twitch/viewer_insert.sql
Labels: none

DB Source generation
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
Labels: C# Project, Change Log, Markdown, Database, Server

DB Source generation
  src/.idea/.idea.Credfeto.Notification.Bot/.idea/sqldialects.xml
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Mappers/StreamerMapper.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamDb.cs
  src/Credfeto.Notification.Bot.Database/Twitch/TwitchDatabaseSetup.cs
Labels: Database

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

DB Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Mappers/ViewerMapper.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamDb.cs
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/ITwitchStreamDataManager.cs
Labels: Database, Twitch.Data.Interfaces

DB Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/Mappers/DateTimeOffsetMapper.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamDb.cs
Labels: Database

Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamDb.cs
Labels: Database

Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchChatterBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchFollowerBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchFollowerMilestoneBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchRegularChatterBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchStreamSettingsBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchStreamerUserBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchViewerUserBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamDb.cs
Labels: Database

Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamerDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchViewerDataManager.cs
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/ITwitchViewerDataManager.cs
Labels: Database, Twitch.Data.Interfaces

Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamObjectMapper.cs
Labels: Database

Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamerObjectMapper.cs
Labels: Database

Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamerObjectMapper.cs
Labels: Database

Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamerDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamerObjectMapper.cs
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/ITwitchStreamerDataManager.cs
Labels: Database, Twitch.Data.Interfaces

Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchViewerDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamObjectMapper.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamerObjectMapper.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchViewerObjectMapper.cs
  src/Credfeto.Notification.Bot.Discord/Commands/TwitchModule.cs
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Mappers/DateTimeOffsetMapper.cs
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Mappers/StreamerMapper.cs
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Mappers/ViewerMapper.cs
  src/Credfeto.Notification.Bot.Twitch.DataTypes/TwitchUser.cs
  src/Credfeto.Notification.Bot.Twitch.Interfaces/ITwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch.Interfaces/IUserInfoService.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/FollowerMilestone.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamNewChatterNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Publishers/TwitchStreamOnlineNotificationHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Services/UserInfoService.cs
  src/Credfeto.Notification.Bot.Twitch/Startup/TwitchChannelStartup.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/TwitchChannelState.cs
Labels: C# Project, Database, Discord, Twitch, Twitch.DataTypes, Twitch.Interfaces

Added attributes
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Models/TwitchChatter.cs
Labels: Database

Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Models/TwitchFollower.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Models/TwitchFollowerMilestone.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Models/TwitchRegularChatter.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamObjectMapper.cs
  src/Credfeto.Notification.Bot.Twitch.DataTypes/StreamSettings.cs
Labels: Database, Twitch.DataTypes

Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Entities/StreamSettingsEntity.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Entities/TwitchChatterEntity.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Entities/TwitchFollowerEntity.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Entities/TwitchFollowerMilestoneEntity.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Entities/TwitchRegularChatterEntity.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Entities/TwitchStreamerUserEntity.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Entities/TwitchViewerUserEntity.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchChatterBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchFollowerBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchFollowerMilestoneBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchRegularChatterBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchStreamSettingsBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchStreamerUserBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchViewerUserBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/ObjectMappers/TwitchStreamObjectMapper.cs
Labels: Database

Source generation
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Twitch.Interfaces/ITwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/TwitchChannelState.cs
Labels: Database, Twitch, Twitch.Interfaces

Source generation
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Setup/IntegrationTestStartup.cs
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Twitch/DataManagers/TwitchStreamDataManagerTests.cs
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Twitch/DataManagers/TwitchStreamerDataManagerTests.cs
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Twitch/DataManagers/TwitchViewerDataManagerTests.cs
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Tests/TestInfrastructure/ObjectBuilderTestsBase.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamerDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchViewerDataManager.cs
  src/Credfeto.Notification.Bot.Discord/Commands/TwitchModule.cs
  src/Credfeto.Notification.Bot.Discord/Publishers/TwitchChannelNewFollowerNotificationHandler.cs
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/ITwitchStreamerDataManager.cs
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/ITwitchViewerDataManager.cs
  src/Credfeto.Notification.Bot.Twitch.Models/TwitchChannelNewFollower.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchFollowerDetector.cs
  src/Credfeto.Notification.Bot.Twitch/Services/UserInfoService.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/TwitchChannelState.cs
Labels: C# Project, Database, Database.Tests, Database.Tests.Integration, Discord, Server, Twitch, Twitch.Data.Interfaces, Twitch.Models

Source generation
  src/.idea/.idea.Credfeto.Notification.Bot/.idea/dataSources.xml
  src/Credfeto.Notification.Bot.Server/ServiceStartup/Service.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/FollowerMilestoneTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchChannelNewFollowerNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchWatchChannelFollowerNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchWatchChannelLiveStreamNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchChannelManagerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/UserInfoServiceTests.cs
Labels: Server, Twitch.Tests

Source generation
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/ShoutoutJoinerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamNewChatterNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOnlineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchChannelManagerTests.cs
Labels: Twitch.Tests

Source generation
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOnlineNotificationHandlerTests.cs
Labels: Twitch.Tests

Added grant
  postgres-db/twitch/stream_follower_insert.sql
Labels: none

Added grant
  postgres-db/twitch/streamer_get.sql
Labels: none

Added grant
  postgres-db/twitch/streamer_insert.sql
Labels: none

Added grant
  postgres-db/twitch/viewer_get.sql
Labels: none

Added grant
  postgres-db/twitch/viewer_insert.sql
Labels: none

online_channel
  postgres-db/twitch/online_channel.sql
Labels: none

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Database":
 - any: [ 'src/Credfeto.Notification.Bot.Database/**/*' ]
"Database.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests/**/*' ]
"Database.Tests.Integration":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests.Integration/**/*' ]
"Discord":
 - any: [ 'src/Credfeto.Notification.Bot.Discord/**/*' ]
"Discord.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Discord.Models/**/*' ]
"Mocks":
 - any: [ 'src/Credfeto.Notification.Bot.Mocks/**/*' ]
"Server":
 - any: [ 'src/Credfeto.Notification.Bot.Server/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Shared/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Tests/**/*' ]
"Twitch":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch/**/*' ]
"Twitch.Data.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/**/*' ]
"Twitch.DataTypes":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.DataTypes/**/*' ]
"Twitch.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Interfaces/**/*' ]
"Twitch.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Models/**/*' ]
"Twitch.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Tests/**/*' ]
