Repository credfeto/credfeto-notification-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Database":
 - any: [ 'src/Credfeto.Notification.Bot.Database/**/*' ]
"Database.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests/**/*' ]
"Database.Tests.Integration":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests.Integration/**/*' ]
"Discord":
 - any: [ 'src/Credfeto.Notification.Bot.Discord/**/*' ]
"Discord.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Discord.Models/**/*' ]
"Mocks":
 - any: [ 'src/Credfeto.Notification.Bot.Mocks/**/*' ]
"Server":
 - any: [ 'src/Credfeto.Notification.Bot.Server/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Shared/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Tests/**/*' ]
"Twitch":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch/**/*' ]
"Twitch.Data.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/**/*' ]
"Twitch.DataTypes":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.DataTypes/**/*' ]
"Twitch.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Interfaces/**/*' ]
"Twitch.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Models/**/*' ]
"Twitch.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Tests/**/*' ]

Simplified
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchFollowerDetector.cs
Labels: Twitch

Additional docs
  README.md
Labels: Read Me, Markdown

Added details for where to get the twitch api token
  README.md
Labels: Read Me, Markdown

Corrected typo
  README.md
Labels: Read Me, Markdown

Renamed
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/FollowerMilestoneTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/RaidWelcomeTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/ShoutoutJoinerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/DependencyInjectionTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchIncomingMessageNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOfflineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOnlineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchWatchChannelFollowerNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchChannelManagerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchCustomMessageHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/UserInfoServiceTests.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/TwitchBotOptions.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/TwitchChatTriggeredMessage.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/Validators/TwitchMarblesValidator.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchCustomMessageHandler.cs
Labels: Twitch, Twitch.Tests

Renamed
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/FollowerMilestoneTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/RaidWelcomeTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/ShoutoutJoinerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/DependencyInjectionTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchIncomingMessageNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOfflineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOnlineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchWatchChannelFollowerNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchChannelManagerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchCustomMessageHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/UserInfoServiceTests.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/TwitchBotOptions.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/TwitchChatCommand.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/Validators/TwitchBotOptionsValidator.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/Validators/TwitchMarblesValidator.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchCustomMessageHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Startup/TwitchChannelStartup.cs
Labels: Twitch, Twitch.Tests

Removed heists as separate option - changed to chat commands
  src/Credfeto.Notification.Bot.Mocks/MockReferenceData.cs
  src/Credfeto.Notification.Bot.Mocks/Objects/MockHeists.cs
  src/Credfeto.Notification.Bot.Server/appsettings.json
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/FollowerMilestoneTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/RaidWelcomeTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/ShoutoutJoinerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/DependencyInjectionTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchIncomingMessageNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOfflineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOnlineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchWatchChannelFollowerNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchChannelManagerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchCustomMessageHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/UserInfoServiceTests.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/TwitchBotOptions.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/Validators/TwitchBotOptionsValidator.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchCustomMessageHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Startup/TwitchChannelStartup.cs
Labels: Config Change, Mocks, Server, Twitch, Twitch.Tests

Killed redundant class
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/HeistJoinerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/DependencyInjectionTests.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/IHeistJoiner.cs
  src/Credfeto.Notification.Bot.Twitch/Actions/Services/HeistJoiner.cs
  src/Credfeto.Notification.Bot.Twitch/TwitchSetup.cs
Labels: Twitch, Twitch.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.8
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[FF-1429] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.0.5.17
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] Updating Credfeto.Extensions.Configuration.Typed.Json (Strongly typed and verified configuration) to 1.0.15.16
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests.Integration, Server

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.16.2535
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Mocks, Shared.Tests, Twitch.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.9
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.17.2561
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Mocks, Shared.Tests, Twitch.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

Used common package instead of cloned implementation
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Discord/DiscordSetup.cs
  src/Credfeto.Notification.Bot.Discord/Services/DiscordCommandService.cs
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Server/Program.cs
  src/Credfeto.Notification.Bot.Server/ServiceStartup/Service.cs
  src/Credfeto.Notification.Bot.Shared/IRunOnStartup.cs
  src/Credfeto.Notification.Bot.Shared/ResourceSetup.cs
  src/Credfeto.Notification.Bot.Shared/Services/Logging/ProcessStartupLoggerExtensions.cs
  src/Credfeto.Notification.Bot.Shared/Services/Logging/StartupServiceLoggerExtensions.cs
  src/Credfeto.Notification.Bot.Shared/Services/ProcessStartup.cs
  src/Credfeto.Notification.Bot.Shared/Services/StartupService.cs
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
  src/Credfeto.Notification.Bot.Twitch/Startup/TwitchChannelStartup.cs
  src/Credfeto.Notification.Bot.Twitch/TwitchSetup.cs
Labels: C# Project, Discord, Server, Shared, Twitch

[FF-1429] Updating Credfeto.Services.Startup (Run on startup services) to 0.0.1.2
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Discord, Server, Twitch

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.10
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[FF-1429] Updating NSubstitute.Analyzers.CSharp (Code analysis) to 1.0.16
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Server, Shared.Tests, Twitch.Tests

Fixing code analysis issues
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/CustomTriggeredMessageNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchBitsGiftNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchChannelChatConnectedNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchChannelNewFollowerNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchGiftSubMultipleNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchGiftSubSingleNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchNewPaidSubNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchNewPrimeSubNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchPaidReSubNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchPrimeReSubNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamNewChatterNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOnlineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamRaidedNotificationHandlerTests.cs
Labels: Twitch.Tests

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.11
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.13
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.18.2581
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Tests, Database.Tests.Integration, Mocks, Shared.Tests, Twitch.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/linters/.hadolint.yaml to match the template repo
  .github/linters/.hadolint.yaml
Labels: none

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] Updating SmartAnalyzers.CSharpExtensions.Annotations (Code analysis) to 4.2.8
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-2244] - Code cleanup on Credfeto.Notification.Bot.sln
  src/Credfeto.Notification.Bot.Server/ServiceStartup/Service.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/FollowerMilestoneTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/RaidWelcomeTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Actions/Services/ShoutoutJoinerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchBitsGiftNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchGiftSubMultipleNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchGiftSubSingleNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchIncomingMessageNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchNewPaidSubNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchNewPrimeSubNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchPrimeReSubNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamNewChatterNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOfflineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamOnlineNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Publishers/TwitchStreamRaidedNotificationHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchChannelManagerTests.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/TwitchCustomMessageHandlerTests.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchCustomMessageHandler.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchFollowerDetector.cs
  src/Credfeto.Notification.Bot.Twitch/TwitchSetup.cs
Labels: Server, Twitch, Twitch.Tests

Initial commit of deployment process
  .octopus/deployment_process.ocl
  .octopus/deployment_settings.ocl
  .octopus/schema_version.ocl
  .octopus/variables.ocl
Labels: none

Revert "Initial commit of deployment process"
  .octopus/deployment_process.ocl
  .octopus/deployment_settings.ocl
  .octopus/schema_version.ocl
  .octopus/variables.ocl
Labels: none

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.14
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests
