Repository credfeto/credfeto-notification-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Database, Database.Dapper, Database.Dapper.Tests, Database.Interfaces, Database.Pgsql, Database.Pgsql.Tests, Database.Shared, Database.Shared.Tests, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Configuration, Shared.Extensions, Shared.Extensions.Tests, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Database":
 - any: [ 'src/Credfeto.Notification.Bot.Database/**/*' ]
"Database.Dapper":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Dapper/**/*' ]
"Database.Dapper.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Dapper.Tests/**/*' ]
"Database.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Interfaces/**/*' ]
"Database.Pgsql":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Pgsql/**/*' ]
"Database.Pgsql.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Pgsql.Tests/**/*' ]
"Database.Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Shared/**/*' ]
"Database.Shared.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Shared.Tests/**/*' ]
"Database.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests/**/*' ]
"Database.Tests.Integration":
 - any: [ 'src/Credfeto.Notification.Bot.Database.Tests.Integration/**/*' ]
"Discord":
 - any: [ 'src/Credfeto.Notification.Bot.Discord/**/*' ]
"Discord.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Discord.Models/**/*' ]
"Mocks":
 - any: [ 'src/Credfeto.Notification.Bot.Mocks/**/*' ]
"Server":
 - any: [ 'src/Credfeto.Notification.Bot.Server/**/*' ]
"Shared":
 - any: [ 'src/Credfeto.Notification.Bot.Shared/**/*' ]
"Shared.Configuration":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Configuration/**/*' ]
"Shared.Extensions":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Extensions/**/*' ]
"Shared.Extensions.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Extensions.Tests/**/*' ]
"Shared.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Shared.Tests/**/*' ]
"Twitch":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch/**/*' ]
"Twitch.Data.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/**/*' ]
"Twitch.DataTypes":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.DataTypes/**/*' ]
"Twitch.Interfaces":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Interfaces/**/*' ]
"Twitch.Models":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Models/**/*' ]
"Twitch.Tests":
 - any: [ 'src/Credfeto.Notification.Bot.Twitch.Tests/**/*' ]

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.3.1991
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Dapper.Tests/Credfeto.Notification.Bot.Database.Dapper.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Pgsql.Tests/Credfeto.Notification.Bot.Database.Pgsql.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Shared.Tests/Credfeto.Notification.Bot.Database.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Extensions.Tests/Credfeto.Notification.Bot.Shared.Extensions.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Dapper.Tests, Database.Pgsql.Tests, Database.Shared.Tests, Database.Tests, Database.Tests.Integration, Mocks, Shared.Extensions.Tests, Shared.Tests, Twitch.Tests

[FF-1429] Updating TwitchLib (Twitch API) to 3.6.0
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Twitch, Twitch.Interfaces

[FF-2244] - Code cleanup on Credfeto.Notification.Bot.sln
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Discord/DiscordBotOptionsValidator.cs
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Server/ServiceStartup/Services.cs
  src/Credfeto.Notification.Bot.Shared.Configuration/Credfeto.Notification.Bot.Shared.Configuration.csproj
  src/Credfeto.Notification.Bot.Shared.Configuration/TypeConfigurationExtensions.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/Validators/TwitchChannelMileStoneValidator.cs
  src/Credfeto.Notification.Bot.Twitch/Configuration/Validators/TwitchFriendChannelValidator.cs
Labels: C# Project, Database.Tests.Integration, Discord, Server, Shared.Configuration, Twitch

Added DataGrip project
  .idea/.gitignore
  .idea/dataSources.xml
  .idea/modules.xml
  .idea/notification-bot.iml
  .idea/sqlDataSources.xml
  .idea/sqldialects.xml
  .idea/vcs.xml
Labels: none

If streamer changes name then rename them to keep history
  .idea/dataSources.xml
  db/twitch/streamer_insert.sql
Labels: SQL

Updating DB with chatter ids
  db/twitch/stream_chatter.sql
  db/twitch/stream_chatter_insert.sql
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Twitch/DataManagers/TwitchStreamDataManagerTests.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/ITwitchStreamDataManager.cs
Labels: SQL, Database, Database.Tests.Integration, Twitch.Data.Interfaces

Reverted
  db/twitch/stream_chatter_insert.sql
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/ITwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/TwitchChannelState.cs
Labels: SQL, Database, Twitch, Twitch.Data.Interfaces

Started adding viewer
  db/twitch/viewer.sql
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Twitch/DataManagers/TwitchStreamDataManagerTests.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
Labels: SQL, Database, Database.Tests.Integration

Adding viewer tables
  db/twitch/viewer_get.sql
  db/twitch/viewer_insert.sql
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Twitch/DataManagers/TwitchViewerDataManagerTests.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamerDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchViewerDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/TwitchDatabaseSetup.cs
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/ITwitchViewerDataManager.cs
  src/Credfeto.Notification.Bot.Twitch.Tests/Services/UserInfoServiceTests.cs
  src/Credfeto.Notification.Bot.Twitch/Services/UserInfoService.cs
Labels: SQL, Database, Database.Tests.Integration, Twitch, Twitch.Data.Interfaces, Twitch.Tests

Delete viewers if they become a streamer
  db/twitch/streamer_insert.sql
Labels: SQL

Missing mock DI registratio
  src/Credfeto.Notification.Bot.Twitch.Tests/DependencyInjectionTests.cs
Labels: Twitch.Tests

Updated
  db/twitch/streamer_insert.sql
  db/twitch/viewer_insert.sql
Labels: SQL

Updated inserts to cope with renames
  db/twitch/streamer_insert.sql
  db/twitch/viewer_insert.sql
Labels: SQL

Added builder for viewers
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/Entities/TwitchViewerUserEntity.cs
  src/Credfeto.Notification.Bot.Database/Twitch/Builders/ObjectBuilders/TwitchViewerUserBuilder.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamerDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchViewerDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/TwitchDatabaseSetup.cs
Labels: Database

Renamed followers if username changes
  db/twitch/streamer_insert.sql
  db/twitch/viewer_insert.sql
Labels: SQL

[FF-1429] Updating TwitchLib (Twitch API) to 3.2.6
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Twitch, Twitch.Interfaces

[FF-2244] - Code cleanup on Credfeto.Notification.Bot.sln
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamerDataManager.cs
  src/Credfeto.Notification.Bot.Twitch/Services/UserInfoService.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/TwitchChannelState.cs
Labels: Database, Twitch

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.4.1998
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Dapper.Tests/Credfeto.Notification.Bot.Database.Dapper.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Pgsql.Tests/Credfeto.Notification.Bot.Database.Pgsql.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Shared.Tests/Credfeto.Notification.Bot.Database.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Shared.Extensions.Tests/Credfeto.Notification.Bot.Shared.Extensions.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Dapper.Tests, Database.Pgsql.Tests, Database.Shared.Tests, Database.Tests, Database.Tests.Integration, Mocks, Shared.Extensions.Tests, Shared.Tests, Twitch.Tests

[FF-1429] Updating Microsoft.Extensions (Microsoft Extensions) to 6.0.8
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Discord, Discord.Models, Twitch, Twitch.Interfaces

Started adding stream settings persistence
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Discord/Commands/TwitchModule.cs
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/ITwitchStreamDataManager.cs
  src/Credfeto.Notification.Bot.Twitch.DataTypes/StreamSettings.cs
  src/Credfeto.Notification.Bot.Twitch.Interfaces/ITwitchChannelState.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchStreamSettingsOffline.cs
  src/Credfeto.Notification.Bot.Twitch/Services/TwitchStreamSettingsOnline.cs
  src/Credfeto.Notification.Bot.Twitch/StreamState/TwitchChannelState.cs
Labels: Database, Discord, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces

Relaxed marbles check
  src/Credfeto.Notification.Bot.Twitch/Configuration/Validators/TwitchBotOptionsValidator.cs
Labels: Twitch

[FF-1429] Updating TwitchLib (Twitch API) to 3.6.1
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Twitch, Twitch.Interfaces

[FF-1429] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.3.44
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Dapper.Tests/Credfeto.Notification.Bot.Database.Dapper.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Dapper/Credfeto.Notification.Bot.Database.Dapper.csproj
  src/Credfeto.Notification.Bot.Database.Interfaces/Credfeto.Notification.Bot.Database.Interfaces.csproj
  src/Credfeto.Notification.Bot.Database.Pgsql.Tests/Credfeto.Notification.Bot.Database.Pgsql.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Pgsql/Credfeto.Notification.Bot.Database.Pgsql.csproj
  src/Credfeto.Notification.Bot.Database.Shared.Tests/Credfeto.Notification.Bot.Database.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Shared/Credfeto.Notification.Bot.Database.Shared.csproj
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Configuration/Credfeto.Notification.Bot.Shared.Configuration.csproj
  src/Credfeto.Notification.Bot.Shared.Extensions.Tests/Credfeto.Notification.Bot.Shared.Extensions.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Extensions/Credfeto.Notification.Bot.Shared.Extensions.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Dapper, Database.Dapper.Tests, Database.Interfaces, Database.Pgsql, Database.Pgsql.Tests, Database.Shared, Database.Shared.Tests, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Configuration, Shared.Extensions, Shared.Extensions.Tests, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[FF-3881] - Updated DotNet SDK to 6.0.400
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[FF-1429] Updating FunFair.CodeAnalysis (Code analysis) to 5.8.5.1436
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Dapper.Tests/Credfeto.Notification.Bot.Database.Dapper.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Dapper/Credfeto.Notification.Bot.Database.Dapper.csproj
  src/Credfeto.Notification.Bot.Database.Interfaces/Credfeto.Notification.Bot.Database.Interfaces.csproj
  src/Credfeto.Notification.Bot.Database.Pgsql.Tests/Credfeto.Notification.Bot.Database.Pgsql.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Pgsql/Credfeto.Notification.Bot.Database.Pgsql.csproj
  src/Credfeto.Notification.Bot.Database.Shared.Tests/Credfeto.Notification.Bot.Database.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Shared/Credfeto.Notification.Bot.Database.Shared.csproj
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Configuration/Credfeto.Notification.Bot.Shared.Configuration.csproj
  src/Credfeto.Notification.Bot.Shared.Extensions.Tests/Credfeto.Notification.Bot.Shared.Extensions.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Extensions/Credfeto.Notification.Bot.Shared.Extensions.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Dapper, Database.Dapper.Tests, Database.Interfaces, Database.Pgsql, Database.Pgsql.Tests, Database.Shared, Database.Shared.Tests, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Configuration, Shared.Extensions, Shared.Extensions.Tests, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

[FF-2244] - Code cleanup on Credfeto.Notification.Bot.sln
  src/Credfeto.Notification.Bot.Twitch/StreamState/TwitchChannelState.cs
Labels: Twitch

[FF-1429] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.3.0
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Dapper.Tests/Credfeto.Notification.Bot.Database.Dapper.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Pgsql.Tests/Credfeto.Notification.Bot.Database.Pgsql.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Shared.Tests/Credfeto.Notification.Bot.Database.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Extensions.Tests/Credfeto.Notification.Bot.Shared.Extensions.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown, Database.Dapper.Tests, Database.Pgsql.Tests, Database.Shared.Tests, Database.Tests, Database.Tests.Integration, Shared.Extensions.Tests, Shared.Tests, Twitch.Tests

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

added user_stats
  sql/user_stats.sql
Labels: none

Added todos
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
Labels: Database

[FF-2244] - Code cleanup on Credfeto.Notification.Bot.sln
  src/Credfeto.Notification.Bot.Database/Twitch/DataManagers/TwitchStreamDataManager.cs
Labels: Database

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.44.0.52574
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Database.Dapper.Tests/Credfeto.Notification.Bot.Database.Dapper.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Dapper/Credfeto.Notification.Bot.Database.Dapper.csproj
  src/Credfeto.Notification.Bot.Database.Interfaces/Credfeto.Notification.Bot.Database.Interfaces.csproj
  src/Credfeto.Notification.Bot.Database.Pgsql.Tests/Credfeto.Notification.Bot.Database.Pgsql.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Pgsql/Credfeto.Notification.Bot.Database.Pgsql.csproj
  src/Credfeto.Notification.Bot.Database.Shared.Tests/Credfeto.Notification.Bot.Database.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Database.Shared/Credfeto.Notification.Bot.Database.Shared.csproj
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests/Credfeto.Notification.Bot.Database.Tests.csproj
  src/Credfeto.Notification.Bot.Database/Credfeto.Notification.Bot.Database.csproj
  src/Credfeto.Notification.Bot.Discord.Models/Credfeto.Notification.Bot.Discord.Models.csproj
  src/Credfeto.Notification.Bot.Discord/Credfeto.Notification.Bot.Discord.csproj
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Configuration/Credfeto.Notification.Bot.Shared.Configuration.csproj
  src/Credfeto.Notification.Bot.Shared.Extensions.Tests/Credfeto.Notification.Bot.Shared.Extensions.Tests.csproj
  src/Credfeto.Notification.Bot.Shared.Extensions/Credfeto.Notification.Bot.Shared.Extensions.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.Data.Interfaces/Credfeto.Notification.Bot.Twitch.Data.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown, Database, Database.Dapper, Database.Dapper.Tests, Database.Interfaces, Database.Pgsql, Database.Pgsql.Tests, Database.Shared, Database.Shared.Tests, Database.Tests, Database.Tests.Integration, Discord, Discord.Models, Mocks, Server, Shared, Shared.Configuration, Shared.Extensions, Shared.Extensions.Tests, Shared.Tests, Twitch, Twitch.Data.Interfaces, Twitch.DataTypes, Twitch.Interfaces, Twitch.Models, Twitch.Tests

Used shared package for configuration extensions
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Credfeto.Notification.Bot.Database.Tests.Integration.csproj
  src/Credfeto.Notification.Bot.Database.Tests.Integration/Setup/IntegrationTestStartup.cs
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Server/ServiceStartup/Services.cs
  src/Credfeto.Notification.Bot.Shared.Configuration/ConfigurationErrorsException.cs
  src/Credfeto.Notification.Bot.Shared.Configuration/Credfeto.Notification.Bot.Shared.Configuration.csproj
  src/Credfeto.Notification.Bot.Shared.Configuration/TypeConfigurationExtensions.cs
  src/Credfeto.Notification.Bot.sln
Labels: C# Project, C# Solution, Database.Tests.Integration, Server, Shared.Configuration
