Repository credfeto/credfeto-notification-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-notification-bot-mocks, credfeto-notification-bot-server, credfeto-notification-bot-shared, credfeto-notification-bot-shared-tests, credfeto-notification-bot-twitch, credfeto-notification-bot-twitch-datatypes, credfeto-notification-bot-twitch-interfaces, credfeto-notification-bot-twitch-models, credfeto-notification-bot-twitch-tests, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-notification-bot-mocks":
 - any: [ 'src/$Credfeto.Notification.Bot.Mocks/**/*' ]
"credfeto-notification-bot-server":
 - any: [ 'src/$Credfeto.Notification.Bot.Server/**/*' ]
"credfeto-notification-bot-shared":
 - any: [ 'src/$Credfeto.Notification.Bot.Shared/**/*' ]
"credfeto-notification-bot-shared-tests":
 - any: [ 'src/$Credfeto.Notification.Bot.Shared.Tests/**/*' ]
"credfeto-notification-bot-twitch":
 - any: [ 'src/$Credfeto.Notification.Bot.Twitch/**/*' ]
"credfeto-notification-bot-twitch-datatypes":
 - any: [ 'src/$Credfeto.Notification.Bot.Twitch.DataTypes/**/*' ]
"credfeto-notification-bot-twitch-interfaces":
 - any: [ 'src/$Credfeto.Notification.Bot.Twitch.Interfaces/**/*' ]
"credfeto-notification-bot-twitch-models":
 - any: [ 'src/$Credfeto.Notification.Bot.Twitch.Models/**/*' ]
"credfeto-notification-bot-twitch-tests":
 - any: [ 'src/$Credfeto.Notification.Bot.Twitch.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions

[Actions] Updated .github/workflows/missing-releases.yml
  .github/workflows/missing-releases.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.114.790
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.22.1366
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.8.0
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Mocks/Credfeto.Notification.Bot.Mocks.csproj
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Shared/Credfeto.Notification.Bot.Shared.csproj
  src/Credfeto.Notification.Bot.Twitch.DataTypes/Credfeto.Notification.Bot.Twitch.DataTypes.csproj
  src/Credfeto.Notification.Bot.Twitch.Interfaces/Credfeto.Notification.Bot.Twitch.Interfaces.csproj
  src/Credfeto.Notification.Bot.Twitch.Models/Credfeto.Notification.Bot.Twitch.Models.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Configuration.Typed.Json (Strongly typed and verified configuration) to 1.0.163.1249
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Random (Random data support) to 1.0.137.1263
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Services.Startup (Run on startup services) to 1.1.132.1191
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Server/Credfeto.Notification.Bot.Server.csproj
  src/Credfeto.Notification.Bot.Twitch/Credfeto.Notification.Bot.Twitch.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.211
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.24.0
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 3.0.1
  CHANGELOG.md
  src/Credfeto.Notification.Bot.Shared.Tests/Credfeto.Notification.Bot.Shared.Tests.csproj
  src/Credfeto.Notification.Bot.Twitch.Tests/Credfeto.Notification.Bot.Twitch.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-build-check/action.yml
  .github/actions/dotnet-build-check/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-code-analysis-override/action.yml
  .github/actions/dotnet-code-analysis-override/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-build-check/action.yml
  .github/actions/dotnet-build-check/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-code-analysis-override/action.yml
  .github/actions/dotnet-code-analysis-override/action.yml
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions
